<div class="row">
    <div class="col-xs-12">
      <img src="{{SelectedRecipe.imagePath}}" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{SelectedRecipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group"  appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle "
          >
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="addIngredientToShopingList()">To Shopping List</a></li>
          <li><a (click)="editRecipe()">Edit Recipe</a></li>
          <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{SelectedRecipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let ingredient of SelectedRecipe.ingredients">
        <div *ngIf="ingredient.amount < 50; else a">
          {{ ingredient.name }}  - {{ ingredient.amount }}
        </div>
        <ng-template #a>
          <p>No ingredient found</p>
        </ng-template>
        <!-- <ng-template *ngIf="ingredient.amount > 50">
          {{ ingredient.name }}  - {{ ingredient.amount }}
        </ng-template> -->
        
        
        <!-- {{ ingredient.name }}  - {{ ingredient.amount }} -->
      </li>
      </ul>
    </div>
  </div>
  